In [13]:
#Import Dependecies 
import pandas as pd

In [14]:
# Create a DataFrame from a list of dictionaries 
PyCitySchools_df = pd.DataFrame ([
    {"School Name": "Huang High School", "Budget":1910635,
"Total Number of Students": 2917, "Average Math Score": 77, "Average Reading Score": 81,
    "Maths Pass Rate": 63.32, "Reading Pass Rate": 78.81, "Overall Pass Rate": 49.91},
    {"School Name": "Figueroa High School", "Total Number of Students": 5865, "Budget":1884411,
"Average Math Score": 77, "Average Reading Score": 81,
    "Maths Pass Rate": 32.05, "Reading Pass Rate": 39.44, "Overall Pass Rate": 49.92},
    {"School Name": "Shelton High School", "Total Number of Students": 7626, "Budget":1056600,
"Average Math Score": 83, "Average Reading Score": 84,
    "Maths Pass Rate": 20.76, "Reading Pass Rate": 21.39, "Overall Pass Rate": 83.19},
    {"School Name": "Hernandez High School", "Total Number of Students": 12261, "Budget":3022020,
"Average Math Score": 77, "Average Reading Score": 81,
     "Maths Pass Rate": 20.76, "Reading Pass Rate": 21.39, "Overall Pass Rate": 50.16}, 
    {"School Name": "Griffin High School", "Total Number of Students": 13927, "Budget":917500,
"Average Math Score": 83, "Average Reading Score": 84,
     "Maths Pass Rate": 9.46, "Reading Pass Rate": 9.84, "Overall Pass Rate": 83.65},
    {"School Name": "Wilson High School", "Total Number of Students": 16012, "Budget":1319574,
"Average Math Score": 83, "Average Reading Score": 84,
     "Maths Pass Rate": 12.97, "Reading Pass Rate": 13.3, "Overall Pass Rate": 68.86},
    {"School Name": "Cabera High School", "Total Number of Students": 17870, "Budget": 1081356,
"Average Math Score": 83, "Average Reading Score": 84,
     "Maths Pass Rate": 9.31, "Reading Pass Rate": 9.76, "Overall Pass Rate": 84.02},
    {"School Name": "Bailey High School", "Total Number of Students": 4976, "Budget": 3124928,
"Average Math Score": 77, "Average Reading Score": 81,
     "Maths Pass Rate": 64.63, "Reading Pass Rate": 79.3, "Overall Pass Rate": 19.09},
    {"School Name": "Holden High School", "Total Number of Students": 427, "Budget": 248087,
"Average Math Score": 84, "Average Reading Score": 84,
     "Maths Pass Rate": 90.63, "Reading Pass Rate": 92.74, "Overall Pass Rate": 84.07},
    {"School Name": "Pena High School", "Total Number of Students": 962, "Budget": 585858,
"Average Math Score": 84, "Average Reading Score": 84, 
     "Maths Pass Rate":91.68, "Reading Pass Rate": 91.58, "Overall Pass Rate": 84.82},
    {"School Name": "Wright High School", "Total Number of Students": 1800, "Budget": 1049400,
     "Average Math Score": 84, "Average Reading Score": 84,
     "Maths Pass Rate": 90.28, "Reading Pass Rate": 93.44, "Overall Pass Rate": 84.44},
    {"School Name": "Rodriguez High School", "Total Number of Students": 3999, "Budget": 2547363,
"Average Math Score": 77, "Average Reading Score": 81,
     "Maths Pass Rate": 64.07, "Reading Pass Rate": 77.74, "Overall Pass Rate": 22.91},
    {"School Name": "Johnson High School", "Total Number of Students": 4761, "Budget": 3094650,
"Average Math Score": 77, "Average Reading Score": 81,
     "Maths Pass Rate": 63.85, "Reading Pass Rate": 78.28, "Overall Pass Rate": 19.11},
    {"School Name": "Ford High School", "Total Number of Students": 2739, "Budget": 1763916,
"Average Math Score": 77, "Average Reading Score": 81,
     "Maths Pass Rate": 65.75, "Reading Pass Rate": 77.51, "Overall Pass Rate": 35.05},
    {"School Name": "Thomas High School", "Total Number of Students": 1635, "Budget": 1043130,
"Average Math Score": 83, "Average Reading Score": 84,
     "Maths Pass Rate": 90.21, "Reading Pass Rate": 92.91, "Overall Pass Rate": 84.28},
])
PyCitySchools_df

,School Name,Budget,Total Number of Students,Average Math Score,Average Reading Score,Maths Pass Rate,Reading Pass Rate,Overall Pass Rate
0,Huang High School,1910635,2917,77,81,63.32,78.81,49.91
1,Figueroa High School,1884411,5865,77,81,32.05,39.44,49.92
2,Shelton High School,1056600,7626,83,84,20.76,21.39,83.19
3,Hernandez High School,3022020,12261,77,81,20.76,21.39,50.16
4,Griffin High School,917500,13927,83,84,9.46,9.84,83.65
5,Wilson High School,1319574,16012,83,84,12.97,13.30,68.86
6,Cabera High School,1081356,17870,83,84,9.31,9.76,84.02
7,Bailey High School,3124928,4976,77,81,64.63,79.30,19.09
8,Holden High School,248087,427,84,84,90.63,92.74,84.07
9,Pena High School,585858,962,84,84,91.68,91.58,84.82
10,Wright High School,1049400,1800,84,84,90.28,93.44,84.44
11,Rodriguez High School,2547363,3999,77,81,64.07,77.74,22.91
12,Johnson High School,3094650,4761,77,81,63.85,78.28,19.11
13,Ford High School,1763916,2739,77,81,65.75,77.51,35.05
14,Thomas High School,1043130,1635,83,84,90.21,92.91,84.28

In [15]:
#Create a DataFrame from a list of dictionaries 
pyDistrict_df = pd.DataFrame ([
    {"Type of School": "District", "Number of Schools": 7, "Total Number of Students": 26976, "Total Budget": 17347923, "Average Math Score":77, 
     "Average Reading Score": 81, "Maths Pass Rate": 78.37, "Reading Pass Rate": 64.31, "Overall Pass Rate": 3.41}, 
    {"Type of School": "Charter", "Number of Schools": 8, "Total Number of Students": 9911, "Total Budget": 7301505, "Average Math Score": 83, 
    "Average Reading Score": 84, "Maths Pass Rate": 93.15, "Reading Pass Rate": 90.28, "Overall Pass Rate": 15.59},
])
pyDistrict_df

,Type of School,Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Maths Pass Rate,Reading Pass Rate,Overall Pass Rate
0,District,7,26976,17347923,77,81,78.37,64.31,3.41
1,Charter,8,9911,7301505,83,84,93.15,90.28,15.59

In [16]:
#Create a DataFrame from a list of dictionaries 
py_Highest_Performing_df = pd.DataFrame ([
    {"Overall Highest Pass Rate": "84.82", "School Name": "Pena High School"},
    {"Overall Highest Pass Rate": "84.44", "School Name": "Wright High School"},
    {"Overall Highest Pass Rate": "84.28", "School Name": "Thomas High School"}, 
    {"Overall Highest Pass Rate": "84.07", "School Name": "Holden High School"},
    {"Overall Highest Pass Rate": "84.02", "School Name": "Cabera High School"}
])
py_Highest_Performing_df

  Overall Highest Pass Rate         School Name
0                     84.82    Pena High School
1                     84.44  Wright High School
2                     84.28  Thomas High School
3                     84.07  Holden High School
4                     84.02  Cabera High School

In [17]:
#Create a DataFrame from a list of dictionaries 
py_Lowest_Performing_df = pd.DataFrame ([
    {"Overall Lowest Pass Rate": "19.09", "School Name": "Bailey High School"},
    {"Overall Lowest Pass Rate": "19.11", "School Name": "Johnson High School"},
    {"Overall Lowest Pass Rate": "22.91", "School Name": "Rodriguez High School"},
    {"Overall Lowest Pass Rate": "35.05", "School Name": "Ford High School"},
    {"Overall Lowest Pass Rate": "49.91", "School Name": "Huang High School"},
])
py_Lowest_Performing_df

  Overall Lowest Pass Rate            School Name
0                    19.09     Bailey High School
1                    19.11    Johnson High School
2                    22.91  Rodriguez High School
3                    35.05       Ford High School
4                    49.91      Huang High School

In [18]:
#Create a DataFrame from a list of dictionaries 
py_averagegrades_bygrade_df = pd.DataFrame ([
     {"Grade":"9th Grade", "School": "Huang High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Huang High School", "Average Math Score": 81},
    {"Grade": "11th Grade", "School": "Huang High School", "Average Math Score": 81},
    {"Grade": "12th Grade", "School": "Huang High School", "Average Math Score": 81}, 
     {"Grade":"9th Grade", "School": "Figueroa High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Figueroa High School", "Average Math Score": 81},
    {"Grade": "11th Grade", "School": "Figueroa High School", "Average Math Score": 81}, 
    {"Grade": "12th Grade", "School": "Figueroa High School", "Average Math Score": 81}, 
    {"Grade":"9th Grade", "School": "Shelton High School", "Average Math Score": 84.1},
    {"Grade": "10th Grade", "School": "Shelton High School", "Average Math Score": 83.7},
    {"Grade": "11th Grade", "School": "Shelton High School", "Average Math Score": 84.4}, 
    {"Grade": "12th Grade", "School": "Shelton High School", "Average Math Score": 82.8}, 
     {"Grade":"9th Grade", "School": "Hernandez High School", "Average Math Score": 80.9},
    {"Grade": "10th Grade", "School": "Hernandez High School", "Average Math Score": 80.7},
    {"Grade": "11th Grade", "School": " Hernandez High School", "Average Math Score": 81.4}, 
    {"Grade": "12th Grade", "School": "Hernandez High School", "Average Math Score": 80.85},
     {"Grade":"9th Grade", "School": "Griffin High School", "Average Math Score": 83.4},
    {"Grade": "10th Grade", "School": "Griffin High School", "Average Math Score": 83.7},
    {"Grade": "11th Grade", "School": "Griffin High School", "Average Math Score": 84.3}, 
    {"Grade": "12th Grade", "School": "Griffin High School", "Average Math Score": 84}, 
     {"Grade":"9th Grade", "School": "Wilson High School", "Average Math Score": 84},
    {"Grade": "10th Grade", "School": "Wilson High School", "Average Math Score": 84},
    {"Grade": "11th Grade", "School": "Wilson High School", "Average Math Score": 84}, 
    {"Grade": "12th Grade", "School": "Wilson High School", "Average Math Score": 84}, 
    {"Grade":"9th Grade", "School": "Cabera High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Cabera High School", "Average Math Score": 84},
    {"Grade": "11th Grade", "School": "Cabera High School", "Average Math Score": 84}, 
    {"Grade": "12th Grade", "School": "Cabera High School", "Average Math Score": 84}, 
     {"Grade":"9th Grade", "School": "Bailey High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Bailey High School", "Average Math Score": 81},
    {"Grade": "11th Grade", "School": " Bailey High School", "Average Math Score": 81}, 
    {"Grade": "12th Grade", "School": "Bailey High School", "Average Math Score": 81},
     {"Grade":"9th Grade", "School": "Holden High School", "Average Math Score": 84},
    {"Grade": "10th Grade", "School": "Holden High School", "Average Math Score": 84},
    {"Grade": "11th Grade", "School": "Holden High School", "Average Math Score": 84}, 
    {"Grade": "12th Grade", "School": "Holden High School", "Average Math Score": 85}, 
     {"Grade":"9th Grade", "School": "Pena High School", "Average Math Score": 84},
    {"Grade": "10th Grade", "School": "Pena High School", "Average Math Score": 84},
    {"Grade": "11th Grade", "School": "Pena High School", "Average Math Score": 84}, 
    {"Grade": "12th Grade", "School": "Pena High School", "Average Math Score": 85}, 
    {"Grade":"9th Grade", "School": "Wright High School", "Average Math Score": 84},
    {"Grade": "10th Grade", "School": "Wright High School", "Average Math Score": 84},
    {"Grade": "11th Grade", "School": "Wright High School", "Average Math Score": 84}, 
    {"Grade": "12th Grade", "School": "Wright High School", "Average Math Score": 84}, 
     {"Grade":"9th Grade", "School": "Rodriguez High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Rodriguez High School", "Average Math Score": 81},
    {"Grade": "11th Grade", "School": " Rodriguez High School", "Average Math Score": 81}, 
    {"Grade": "12th Grade", "School": "Rodriguez High School", "Average Math Score": 81},
     {"Grade":"9th Grade", "School": "Johnson High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Johnson High School", "Average Math Score": 81},
    {"Grade": "11th Grade", "School": "Johnson High School", "Average Math Score": 81}, 
    {"Grade": "12th Grade", "School": "Johnson High School", "Average Math Score": 81}, 
     {"Grade":"9th Grade", "School": "Ford High School", "Average Math Score": 81},
    {"Grade": "10th Grade", "School": "Ford High School", "Average Math Score": 81},
    {"Grade": "11th Grade", "School": "Ford High School", "Average Math Score": 81}, 
    {"Grade": "12th Grade", "School": "Ford High School", "Average Math Score": 81}, 
    {"Grade":"9th Grade", "School": "Thomas High School", "Average Math Score": 84},
    {"Grade": "10th Grade", "School": "Thomas High School", "Average Math Score": 84},
    {"Grade": "11th Grade", "School": "Thomas High School", "Average Math Score": 84}, 
    {"Grade": "12th Grade", "School": "Thomas High School", "Average Math Score": 84}, 
     
])
py_averagegrades_bygrade_df

         Grade                  School  Average Math Score
0    9th Grade       Huang High School               81.00
1   10th Grade       Huang High School               81.00
2   11th Grade       Huang High School               81.00
3   12th Grade       Huang High School               81.00
4    9th Grade    Figueroa High School               81.00
5   10th Grade    Figueroa High School               81.00
6   11th Grade    Figueroa High School               81.00
7   12th Grade    Figueroa High School               81.00
8    9th Grade     Shelton High School               84.10
9   10th Grade     Shelton High School               83.70
10  11th Grade     Shelton High School               84.40
11  12th Grade     Shelton High School               82.80
12   9th Grade   Hernandez High School               80.90
13  10th Grade   Hernandez High School               80.70
14  11th Grade   Hernandez High School               81.40
15  12th Grade   Hernandez High School               80.85
16   9th Grade     Griffin High School               83.40
17  10th Grade     Griffin High School               83.70
18  11th Grade     Griffin High School               84.30
19  12th Grade     Griffin High School               84.00
20   9th Grade      Wilson High School               84.00
21  10th Grade      Wilson High School               84.00
22  11th Grade      Wilson High School               84.00
23  12th Grade      Wilson High School               84.00
24   9th Grade      Cabera High School               81.00
25  10th Grade      Cabera High School               84.00
26  11th Grade      Cabera High School               84.00
27  12th Grade      Cabera High School               84.00
28   9th Grade      Bailey High School               81.00
29  10th Grade      Bailey High School               81.00
30  11th Grade      Bailey High School               81.00
31  12th Grade      Bailey High School               81.00
32   9th Grade      Holden High School               84.00
33  10th Grade      Holden High School               84.00
34  11th Grade      Holden High School               84.00
35  12th Grade      Holden High School               85.00
36   9th Grade        Pena High School               84.00
37  10th Grade        Pena High School               84.00
38  11th Grade        Pena High School               84.00
39  12th Grade        Pena High School               85.00
40   9th Grade      Wright High School               84.00
41  10th Grade      Wright High School               84.00
42  11th Grade      Wright High School               84.00
43  12th Grade      Wright High School               84.00
44   9th Grade   Rodriguez High School               81.00
45  10th Grade   Rodriguez High School               81.00
46  11th Grade   Rodriguez High School               81.00
47  12th Grade   Rodriguez High School               81.00
48   9th Grade     Johnson High School               81.00
49  10th Grade     Johnson High School               81.00
50  11th Grade     Johnson High School               81.00
51  12th Grade     Johnson High School               81.00
52   9th Grade        Ford High School               81.00
53  10th Grade        Ford High School               81.00
54  11th Grade        Ford High School               81.00
55  12th Grade        Ford High School               81.00
56   9th Grade      Thomas High School               84.00
57  10th Grade      Thomas High School               84.00
58  11th Grade      Thomas High School               84.00
59  12th Grade      Thomas High School               84.00

In [20]:
#Create a DataFrame from a list of dictionaries 
py_averagegrades_bygrade_df = pd.DataFrame ([
     {"Grade":"9th Grade", "School": "Huang High School", "Average Reading Score": 77},
    {"Grade": "10th Grade", "School": "Huang High School", "Average Reading Score": 76},
    {"Grade": "11th Grade", "School": "Huang High School", "Average Reading Score": 76},
    {"Grade": "12th Grade", "School": "Huang High School", "Average Reading Score": 77}, 
     {"Grade":"9th Grade", "School": "Figueroa High School", "Average Reading Score": 76},
    {"Grade": "10th Grade", "School": "Figueroa High School", "Average Reading Score": 76},
    {"Grade": "11th Grade", "School": "Figueroa High School", "Average Reading Score": 76}, 
    {"Grade": "12th Grade", "School": "Figueroa High School", "Average Reading Score": 81}, 
    {"Grade":"9th Grade", "School": "Shelton High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Shelton High School", "Average Reading Score": 82},
    {"Grade": "11th Grade", "School": "Shelton High School", "Average Reading Score": 83}, 
    {"Grade": "12th Grade", "School": "Shelton High School", "Average Reading Score": 83}, 
     {"Grade":"9th Grade", "School": "Hernandez High School", "Average Reading Score": 77},
    {"Grade": "10th Grade", "School": "Hernandez High School", "Average Reading Score": 77},
    {"Grade": "11th Grade", "School": " Hernandez High School", "Average Reading Score": 77}, 
    {"Grade": "12th Grade", "School": "Hernandez High School", "Average Reading Score": 77},
     {"Grade":"9th Grade", "School": "Griffin High School", "Average Reading Score": 82},
    {"Grade": "10th Grade", "School": "Griffin High School", "Average Reading Score": 84},
    {"Grade": "11th Grade", "School": "Griffin High School", "Average Reading Score": 83}, 
    {"Grade": "12th Grade", "School": "Griffin High School", "Average Reading Score": 83}, 
     {"Grade":"9th Grade", "School": "Wilson High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Wilson High School", "Average Reading Score": 84},
    {"Grade": "11th Grade", "School": "Wilson High School", "Average Reading Score": 83}, 
    {"Grade": "12th Grade", "School": "Wilson High School", "Average Reading Score": 83}, 
    {"Grade":"9th Grade", "School": "Cabera High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Cabera High School", "Average Reading Score": 83},
    {"Grade": "11th Grade", "School": "Cabera High School", "Average Reading Score": 82}, 
    {"Grade": "12th Grade", "School": "Cabera High School", "Average Reading Score": 83}, 
     {"Grade":"9th Grade", "School": "Bailey High School", "Average Reading Score": 77},
    {"Grade": "10th Grade", "School": "Bailey High School", "Average Reading Score": 76},
    {"Grade": "11th Grade", "School": " Bailey High School", "Average Reading Score": 77}, 
    {"Grade": "12th Grade", "School": "Bailey High School", "Average Reading Score": 76},
     {"Grade":"9th Grade", "School": "Holden High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Holden High School", "Average Reading Score": 83},
    {"Grade": "11th Grade", "School": "Holden High School", "Average Reading Score": 85}, 
    {"Grade": "12th Grade", "School": "Holden High School", "Average Reading Score": 82}, 
     {"Grade":"9th Grade", "School": "Pena High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Pena High School", "Average Reading Score": 83},
    {"Grade": "11th Grade", "School": "Pena High School", "Average Reading Score": 84}, 
    {"Grade": "12th Grade", "School": "Pena High School", "Average Reading Score": 84}, 
    {"Grade":"9th Grade", "School": "Wright High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Wright High School", "Average Reading Score": 84},
    {"Grade": "11th Grade", "School": "Wright High School", "Average Reading Score": 83}, 
    {"Grade": "12th Grade", "School": "Wright High School", "Average Reading Score": 83}, 
     {"Grade":"9th Grade", "School": "Rodriguez High School", "Average Reading Score": 76},
    {"Grade": "10th Grade", "School": "Rodriguez High School", "Average Reading Score": 76},
    {"Grade": "11th Grade", "School": " Rodriguez High School", "Average Reading Score": 76}, 
    {"Grade": "12th Grade", "School": "Rodriguez High School", "Average Reading Score": 77},
     {"Grade":"9th Grade", "School": "Johnson High School", "Average Reading Score": 77},
    {"Grade": "10th Grade", "School": "Johnson High School", "Average Reading Score": 76},
    {"Grade": "11th Grade", "School": "Johnson High School", "Average Reading Score": 77}, 
    {"Grade": "12th Grade", "School": "Johnson High School", "Average Reading Score": 76}, 
     {"Grade":"9th Grade", "School": "Ford High School", "Average Reading Score": 77},
    {"Grade": "10th Grade", "School": "Ford High School", "Average Reading Score": 77},
    {"Grade": "11th Grade", "School": "Ford High School", "Average Reading Score": 76}, 
    {"Grade": "12th Grade", "School": "Ford High School", "Average Reading Score": 76}, 
    {"Grade":"9th Grade", "School": "Thomas High School", "Average Reading Score": 83},
    {"Grade": "10th Grade", "School": "Thomas High School", "Average Reading Score": 83},
    {"Grade": "11th Grade", "School": "Thomas High School", "Average Reading Score": 83}, 
    {"Grade": "12th Grade", "School": "Thomas High School", "Average Reading Score": 83}, 
     
])
py_averagegrades_bygrade_df

         Grade                  School  Average Reading Score
0    9th Grade       Huang High School                     77
1   10th Grade       Huang High School                     76
2   11th Grade       Huang High School                     76
3   12th Grade       Huang High School                     77
4    9th Grade    Figueroa High School                     76
5   10th Grade    Figueroa High School                     76
6   11th Grade    Figueroa High School                     76
7   12th Grade    Figueroa High School                     81
8    9th Grade     Shelton High School                     83
9   10th Grade     Shelton High School                     82
10  11th Grade     Shelton High School                     83
11  12th Grade     Shelton High School                     83
12   9th Grade   Hernandez High School                     77
13  10th Grade   Hernandez High School                     77
14  11th Grade   Hernandez High School                     77
15  12th Grade   Hernandez High School                     77
16   9th Grade     Griffin High School                     82
17  10th Grade     Griffin High School                     84
18  11th Grade     Griffin High School                     83
19  12th Grade     Griffin High School                     83
20   9th Grade      Wilson High School                     83
21  10th Grade      Wilson High School                     84
22  11th Grade      Wilson High School                     83
23  12th Grade      Wilson High School                     83
24   9th Grade      Cabera High School                     83
25  10th Grade      Cabera High School                     83
26  11th Grade      Cabera High School                     82
27  12th Grade      Cabera High School                     83
28   9th Grade      Bailey High School                     77
29  10th Grade      Bailey High School                     76
30  11th Grade      Bailey High School                     77
31  12th Grade      Bailey High School                     76
32   9th Grade      Holden High School                     83
33  10th Grade      Holden High School                     83
34  11th Grade      Holden High School                     85
35  12th Grade      Holden High School                     82
36   9th Grade        Pena High School                     83
37  10th Grade        Pena High School                     83
38  11th Grade        Pena High School                     84
39  12th Grade        Pena High School                     84
40   9th Grade      Wright High School                     83
41  10th Grade      Wright High School                     84
42  11th Grade      Wright High School                     83
43  12th Grade      Wright High School                     83
44   9th Grade   Rodriguez High School                     76
45  10th Grade   Rodriguez High School                     76
46  11th Grade   Rodriguez High School                     76
47  12th Grade   Rodriguez High School                     77
48   9th Grade     Johnson High School                     77
49  10th Grade     Johnson High School                     76
50  11th Grade     Johnson High School                     77
51  12th Grade     Johnson High School                     76
52   9th Grade        Ford High School                     77
53  10th Grade        Ford High School                     77
54  11th Grade        Ford High School                     76
55  12th Grade        Ford High School                     76
56   9th Grade      Thomas High School                     83
57  10th Grade      Thomas High School                     83
58  11th Grade      Thomas High School                     83
59  12th Grade      Thomas High School                     83

In [73]:
#Create a DataFrame from a list of dictionaries 
py_SpendingBins_Scoresbygrades_df = pd.DataFrame ([
    {"Amount Spending Bin": "585", "Schools": "Wilson High School, Cabrera High School, Holden High School, Wright High School"}, 
    {"Amount Spending Bin": "585-630", "Schools": "Shelton High School, Griffin High School, Bailey High School, Pena High School"},
    {"Amount Spending Bin": "630-645", "Schools": "Figueroa High School, Rodriguez High School, Ford High School, Thomas High School"},
    {"Amount Spending Bin": "645-680", "Schools": "Huang High School, Hernandez High School, Johnson High School"}, 
])
py_SpendingBins_Scoresbygrades_df

  Amount Spending Bin                                            Schools
0                 585  Wilson High School, Cabrera High School, Holde...
1             585-630  Shelton High School, Griffin High School, Bail...
2             630-645  Figueroa High School, Rodriguez High School, F...
3             645-680  Huang High School, Hernandez High School, John...

# Analaysis Summary - 

DataFrames created summarise the grades of students from 9th, 10th, 11th and 12th grade, from various different schools and school types including charter and district. The scores contain the average maths and reading scores and overall scores, also the pass rate for maths and for reading and overall pass rate. Dataframe also includes spending bins for school budgets on each student. 
In conclusion, Bailey High School had the lowest overall pass rate and Pena High School had the highest overall pass rate.
They're are two types of schools, 7 district schools and 8 charter schools.